---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Me" path="about">
    <main class="to-darkPurple h-full w-full p-4">
        <div class="space-y-4 text-center">
            <h1></h1>
            <p>I am an IT Specialist with a passion for developing!</p>
            <p>I have a passion for creating beautiful, interactive websites and applications that are easy to use, vibe with end-users, and ensures a maintanable codebase for future maintainers.</p>
        </div>
    </main>
</Layout>
