---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Mason J. Dubelbies">
	<main class="bg-slate-800 h-screen flex">
    <section>Image</section>
    <section>Content</section>
	</main>
</Layout>


