---
import Layout from "../layouts/Layout.astro";
import Headshot from "../components/Headshot.astro";
import HeroContent from "../components/HeroContent.astro";

const breadcrumbStyle = 'hover:text-paleLilac hover:border-b-2 hover:border-b-paleLilac'

console.log(Astro.url.pathname)
---

<Layout title="Mason J. Dubelbies">
  <!-- <div class="text-primaryText m-3 text-sm">
    <span class={breadcrumbStyle}>Home</span>
  </div> -->
  <main
    class="relative flex h-screen w-screen items-center p-3"
  >
    <div class="mx-auto flex items-center justify-center rounded p-10">
      <Headshot />
      <HeroContent />
    </div>
  </main>
</Layout>
