---
import Layout from "../layouts/Layout.astro";
import Headshot from "../components/Headshot.astro";
import HeroContent from "../components/HeroContent.astro";


console.log(Astro.url.pathname)
---

<Layout title="Mason J. Dubelbies">
  <main
    class="relative flex h-screen w-screen items-center p-3"
  >
    <div class="mx-auto flex items-center justify-center rounded p-10">
      <Headshot />
      <HeroContent />
    </div>
  </main>
</Layout>
