---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mason J. Dubelbies">
  <main
    class="flex h-screen w-screen items-center bg-gradient-to-r from-black to-darkPurple"
  >
    <div class="mx-auto flex items-center justify-around gap-44 rounded p-10">
      <section class="-ml-[50%]">
        <img
          src="/assets/headshot-bw.png"
          alt="headshot"
          class="rounded-full border-l-darkPurple shadow-lg"
        />
      </section>
      <section>
        <h1>HELLO!</h1>
      </section>
    </div>
  </main>
</Layout>
