---
interface Props {
  link: string;
  linkText: string;
}
const { linkText, link } = Astro.props;
---

<a id="btn" href={link} target="_blank" class={'py-2 px-3 bg-buttonBg text-black text-lg hover:bg-buttonBgHover rounded-lg hover:text-paleLilac'}>
  {linkText}
</a>