---
interface Props {
  link: string;
  linkText: string;
}
const { linkText, link } = Astro.props;
---

<a href={link} class={'py-3 px-4 bg-primaryPink text-black rounded-lg hover:bg-paleLilac hover:text-primaryPink'}>
  {linkText}
</a>