---
interface Props {
  link: string;
  linkText: string;
}
const { linkText, link } = Astro.props;
---

<a href={link} target="_blank" class={'py-3 px-4 bg-primaryPink text-paleLilac rounded-lg hover:bg-paleLilac hover:text-primaryPink'}>
  {linkText}
</a>