---
---

<section class="hidden md:block -translate-x-20 -translate-y-10">
  <img
    src="/assets/headshot-bw.png"
    alt="headshot"
    class="rounded-full border-l-darkPurple shadow-lg"
  />
</section>
