---
import headshot from '/assets/headshot-bw.png'
---

<section class="hidden md:block md:fixed top-[50%] -translate-y-[50%] md:left-10 xl:left-32">
  <a href="/">
    <img
      src={headshot}
      alt="headshot"
      class="rounded-full shadow-lg bg-transparent border-4 w-80 border-primaryBg hover:border-white md:w-[22rem] lg:w-[32rem] opacity-30 xl:w-[40rem]"
    />
  </a>
</section>
