---

---

<header class="text-primaryPink p-3 flex justify-between items-center flex-col gap-4 md:flex-row">
  <h2 class="font-dancing text-3xl"><a href="/" class="hover:text-paleLilac">Mason J. Dubelbeis</a></h2>
  <nav>
    <ul class="flex justify-around lg:justify-end gap-6">
      <a href="/projects">Projects</a>
      <a href="/blog">Blog</a>
      <a href="/contact">Contact</a>
    </ul>
  </nav>
</header>

<style>
  a:hover {
    @apply hover:text-paleLilac hover:border-b-[1px] hover:border-primaryPink;
  }
</style>