---

---

<header class="text-primaryPink p-4 lg:gap-4 flex justify-between w-full lg:justify-end">
  <nav>
    <ul class="flex justify-around">
      <li><a href="/projects">Projects</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>

<style>
  a:hover {
    @apply hover:text-paleLilac hover:border-b-[1px] hover:border-primaryPink;
  }
</style>