---

---

<header class="bg-black border-b-[1px] border-amethyst border-opacity-50 shadow-xl text-primaryPink p-3">
  <nav>
    <ul class="flex justify-around">
      <a href="/projects">Projects</a>
      <a href="/blog">Blog</a>
      <a href="/contact">Contact</a>
    </ul>
  </nav>
</header>