---
import headshot from '/assets/headshot-bw.png'
---

<section class="hidden lg:block lg:fixed left-0 top-[50%] -translate-y-[60%] lg:left-10 xl:left-32 xl:-translate-y-[60%]">
  <a href="/">
    <img
      src={headshot}
      alt="headshot"
      class="rounded-full shadow-lg bg-transparent border-4 w-80 border-primaryBg hover:border-white lg:w-[32rem] opacity-50"
    />
  </a>
</section>
