---

---

<header class="text-secondaryText p-4 flex justify-center lg:justify-end">
  <nav class="w-full lg:w-auto">
    <ul class="flex justify-around lg:gap-6 w-full">
      <li><a href="/projects">Projects</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>

<style>
  a:hover {
    @apply hover:text-primaryText;
  }
</style>