---
const path = Astro.url.pathname

const currentPage = path

let projectUnderline = ''
let blogUnderline = ''
let contactUnderline = ''

switch(currentPage) {
  case '/projects':
    projectUnderline = 'border-b-2 border-primaryText hover:text-primaryText';
    break;
  case '/blog':
    blogUnderline = 'border-b-2 border-primaryText hover:text-primaryText';
    break;
  case '/contact':
    contactUnderline = 'border-b-2 border-primaryText hover:text-primaryText hover:text-primaryText';
    break;
  default:
    break;
}

---

<header class="text-secondaryText p-4 flex justify-center lg:justify-end">
  <nav class="w-full lg:w-auto">
    <ul class="flex justify-around lg:gap-6 w-full">
      <li><a href="/projects" class={projectUnderline}>Projects</a></li>
      <li><a href="/blog" class={blogUnderline}>Blog</a></li>
      <li><a href="/contact" class={contactUnderline}>Contact</a></li>
    </ul>
  </nav>
</header>
