---
---

<section class="hidden md:block md:fixed left-0 top-[50%] -translate-y-[50%]">
  <img
    src="/assets/headshot-bw.png"
    alt="headshot"
    class="rounded-full border-l-darkPurple shadow-lg"
  />
</section>
