---
const SECTION_TEXT = 'text-3xl lg:text-6xl text-secondaryText';
const TITLE_TEXT = 'text-6xl lg:text-8xl font-bold text-primaryText';
---

<section class={SECTION_TEXT + ' text-center flex flex-col gap-6 -translate-y-10'}>
  <h3 class="font-dancing text-6xl">Hello, I am</h3>
  <div>
    <h1 class={TITLE_TEXT}>Mason Dubelbeis</h1>
    <p class="text-lg lg:text-2xl">Full-Stack Software Engineer</p>
  </div>
  <div class="">
    <a
      class="drop-shadow-lg py-3 px-4 bg-buttonBg hover:bg-buttonBgHover text-black rounded-lg hover:text-paleLilac text-lg"
      href="/assets/resume/dubelbeis_mason.pdf"
      target="_blank"
      rel="noopener noreferrer"
      download
      >
      Resume
    </a>
</section>
