<section class='relative text-6xl text-primaryText text-center flex flex-col top-[50%] -translate-y-[50%] '>
  <div>
    <h3 class="font-dancing text-4xl">Hello, I am</h3>
    <h1 class='font-dancing text-6xl lg:text-8xl xl:text-[8rem] font-bold text-paleLilac'>Mason Dubelbeis</h1>
    <p class="text-lg lg:text-2xl">Full-Stack Software Engineer</p>
  </div>
  <div class="">
    <a
      class="drop-shadow-lg py-3 px-4 bg-buttonBg hover:bg-buttonBgHover text-black rounded-lg hover:text-paleLilac text-lg"
      href="/assets/resume/dubelbeis_mason.pdf"
      target="_blank"
      rel="noopener noreferrer"
      download
      >
      Resume
    </a>
</section>
