---
export function getStaticPaths() {
  return [
    { params: { id: 'behav' } },
    { params: { id: 'life-kitz' } },
    { params: { id: 'stack-gen' } },
    { params: { id: 'mtg-life-counter' } },
    { params: { id: 'the-gathering-bulletin' } },
    { params: { id: 'poke-dex' } },
    { params: { id: 'sunny-side-agency' } },
    { params: { id: 'snap' } },
    { params: { id: 'splitter' } },
    { params: { id: 'suite' } },
    // ? What is the best way to do this for my projects?
  ]
}

const {id} = Astro.params;
---

<div>
  {id}
</div>