---
import Header from '../components/Header.astro';
import '../styles/global.css';

export interface Props {
  title: string | undefined;
}


// I need to get the path from the router and use that for breadcrumbs

const {title} = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="bg-gradient-to-r from-black to-primaryBg bg-black">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="tracking-wider">
    <Header />
    <slot />
  </body>
</html>
